body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#problem {
    font-size: 2em;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 1em;
    width: 150px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}


#welcome-container {
    display: block;
}

#auth-forms {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-top: 20px;
}

#signup-form, #login-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

#logout-button {
    margin-left: 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
    #auth-forms {
        flex-direction: column;
    }
}
